html,
body {
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
}
mdui-layout {
    height: 100%;
    width:80%;
    margin:auto;
    padding:0;
}
a {
    text-decoration: none;
}
.hidden{
    display:none;
}



