/* 修改 primary 的颜色值 */
:root {
    --mdui-color-primary-light: 103, 80, 164;
    --mdui-color-primary-dark: 208, 188, 255;
}
mdui-top-app-bar {
    background-color: rgba(var(--mdui-color-primary), 0.8);
}

mdui-button {
    border-radius: var(--mdui-shape-corner-small);
}
.left-drawer-main{
    padding:20px 10px 0 10px;
    /* background-color: rgba(var(--mdui-color-primary), 0.1); */
    /* height:calc(100vh - 84px); */
}
.mdui-main-container{
    width:92%;
    /* padding:20px auto 0 auto; */
    margin-left: auto;
    margin-right: auto;
}
html,
body {
    height: 100VH;
    width: 100%;
    margin: 0;
    padding: 0;
}

mdui-layout {
    height: 100VH;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}



@font-face {
    font-family: "Material Icons";
    src: url(/static/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2);
}


:not(:defined) {
    visibility: hidden;
  }

