:root {
    --color-primary: #2EA7E0;
    --color-primary-dark: #2482AD;
    --color-primary-alpha: #75C2E6;
    --body-color: #ffffff;
    --body-bg: #000000;
    --border-color: #f1ebeb00;
}

body {
    background: url('https://cdn-img.czl.net/2023/05/23/pjbczr.webp') no-repeat center center fixed;
    /* 自定义背景图 */
    background-size: cover;
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--body-color);
    /* background: var(--body-bg); */
    font-family: system-ui, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgb(252, 247, 247);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

.query {
    max-width: 50rem;
    margin: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color .3s;
}

a:hover {
    color: var(--color-primary-alpha);
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

main[x-cloak] {
    opacity: 0;
}

main:not([x-cloak]) {
    opacity: 1;
    transition: opacity .3s;
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    box-sizing: border-box;
    color: #33404d;
    line-height: inherit;
    font-size: 1rem;
    transition: border .3s, box-shadow .3s;
}

textarea:focus {
    box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
    border-color: var(--color-primary);
    outline: 0;
}

input {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    box-sizing: border-box;
    color: #33404d;
    line-height: inherit;
    font-size: 1rem;
    transition: border .3s, box-shadow .3s;
}

input:focus {
    box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
    border-color: var(--color-primary);
    outline: 0;
}

details {
    margin: 1rem 0 2rem;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    /* transition: background .3s; */
}

details[open] {
    background: #fff;
}

details summary {
    padding: .5rem 1rem;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    opacity: .8;
    outline: 0;
}

details div {
    padding: 1rem;
    border-top: 1px solid var(--border-color);
}

details small {
    margin: 0;
    font-size: .875rem;
    line-height: 2;
}

button {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 50rem;
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    border: 1px solid var(--color-primary);
    border-radius: .25rem;
    background: var(--color-primary);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    transition: border .3s, background .3s, ;
}

button:hover {
    border-color: var(--color-primary-dark);
    background: var(--color-primary-dark);
}

button:focus {
    box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
    border-color: var(--color-primary);
    outline: 0;
}

button:disabled {
    background: var(--color-primary);
    border-color: var(--color-primary);
    opacity: .6;
    cursor: not-allowed;
}

button.loading::before {
    content: '';
    display: inline-block;
    margin-right: .5rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
    animation: rotate .5s linear infinite;
}

footer {
    text-align: center;
    margin-top: 20px;
    line-height: unset !important;
    line-height: normal;
}

footer .p {
    display: flex;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    padding: 0;
    color: rgb(255, 255, 255);
}

.success,
.error {
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity .3s;
}

.success {
    /* border: 1px solid #12b886; */
    background: #38d9a9;
}

.error {
    /* border: 1px solid #b32142; */
    background: #b32142;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* 设置API URL选择器和自定义URL输入框的样式 */
select#api-url-select,
input#custom-url-input {
    width: 100%;
    height: 2.4rem;
    font-size: 1rem;
    background-color: #212121;
    margin-bottom: .5rem;
    padding: .5rem .75rem;
    color: #ffffff;
    border: none;
    padding: .5rem .75rem;
    border-radius: .25rem;
    margin-right: 10px;
    margin-top: 2vhpx;
    /* 添加了顶部边距 */
}



/* 隐藏自定义API链接输入框 */
input#custom-url-input {
    display: none;
    height: 50px;
    /* 添加高度 */
}



/* 下面的代码定义了结果表格的样式 */
#result-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
}

/* 下面的代码定义了结果表格表头的样式 */
#result-table th {
    background-color: var(--color-primary);
    color: #ffffff;
    font-weight: 400;
    height: 20px;
    padding: 10px 5px;
    text-align: left;
    /* border: 1px solid #dcdcdc; */
}

/* 下面的代码定义了结果表格数据单元格的样式 */
#result-table td {
    height: 20px;
    text-align: left;
    padding: 10px 5px;
    /* border: 1px solid #d3d3d3; */
}

/* #result-table tr{
    border-radius: 8px;
} */

/* 下面的代码定义了结果表格奇数行的背景颜色 */
#result-table tbody tr:nth-child(odd) {
    background-color: #252422;
}

/* 下面的代码定义了结果表格偶数行的背景颜色 */
#result-table tbody tr:nth-child(even) {
    background-color: #31302d;
}

/* 下面的代码定义了结果表格表头的宽度 */
#result-table .table-header {
    width: 25%;
}

/* 下面的代码定义了结果表格数据单元格的宽度、字体加粗和颜色 */
#result-table .table-data {
    width: 25%;
    font-weight: bold;
    color: #1c248b;
}

/* 下面的代码定义了结果表格数据单元格的样式 */
#result-table .status-error {
    height: 20px;
    text-align: left;
    padding: 10px 5px;
    /* border: 1px solid #dcdcdc; */
}

/* 下面的代码定义了一个类名为status-ok的样式，用于设置成功状态的文本颜色 */
.status-ok {
    color: #2d8d2d;
}

/* 下面的代码定义了一个类名为status-error的样式，用于设置错误状态的文本颜色 */
.status-error {
    color: #ed0808;
}

#api-key-input {
    width: 100%;
    height: 100px;
    /* border: 1px solid #999; */
    background-color: #fff;
}

.emoji {
    font-size: 30px;
    /* 调整为适当的大小 */
}

button.loading::before {
    content: "";
    display: inline-block;
    margin-right: .5rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
    animation: rotate .5s linear infinite;
}

@media screen and (max-width: 768px) {
    /* 在小于768px的屏幕上生效的样式 */

    /* 可以减小字体和表格单元格的大小，使其适应小屏设备 */
    #result-table th, #result-table td {
        font-size: 8px;
        padding: 5px 3px;
    }

    /* 可以隐藏一些不是非常重要的列，以便更有效地利用屏幕空间 */
    #result-table th:nth-child(n+12), #result-table td:nth-child(n+12) {
        display: none;
    }
}

#result-table {
    border-collapse: separate;
    border-spacing: 0 5px;
    /* padding: 5px; */
}


#result-table td {
    vertical-align: top;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    display: flex;  
    flex-direction: column;  
    background-color: #fefefe;
    color: #000000;
    margin: auto;
    width: 410px;
    height: auto;
    max-height: 80%;
    border-radius: 12px;
    white-space: pre-wrap;
}
.modal h2{
    margin:8px;
}
.modal p{
    margin-block-start:0;
    margin-block-end: 0;
}

.close {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;  
    margin:8px;  
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0px;  
    background-color: var(--color-primary);
    color: white;
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    border-radius: 12px 12px 0px 0px;
}

.modal-body {
    padding: 10px 16px;
    overflow-y: auto;  
    display: flex;
    align-items: flex-start;
}

#modalText{
    margin: 0;
}




